<!-- ================ end banner area ================= -->
<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="contact">
    <div class="container h-100">
        <div class="blog-banner">
            <div class="text-center">
                <h1>Members</h1>
                <nav aria-label="breadcrumb" class="banner-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- ================ end banner area ================= -->


<div class="container">
    <div class="row container">
        <div style="margin: auto;border-style: solid;
                border-color: gray;"> <img src="/img/avatar/han.PNG" alt="" height="300" width="300"> </div>
        <div class="col" style="margin: 5% ;">
            <div class="p-3 border bg-light">Nguyễn Thị Ngọc Hân</div>
            <div class="p-3 border bg-light">MSSV: 1712415</div>
            <div class="p-3 border bg-light">Email: 1712415@student.hcmus.edu.vnvn</div>
            <a href="https://www.facebook.com/profile.php?id=100021544927399" class="btn btn-outline-success"
                style="margin: 20px auto">Facebook</a>
        </div>
    </div>
    <hr>
    <div class="row container">
        <div style="margin: auto;border-style: solid;
                border-color: gray;"> <img src="/img/avatar/trieu.PNG" alt="" height="300" width="300"> </div>
        <div class="col" style="margin: 5% ;">
            <div class="p-3 border bg-light">Mang Viên Triệu</div>
            <div class="p-3 border bg-light">MSSV: 1712837</div>
            <div class="p-3 border bg-light">Email: 1712837@student.hcmus.edu.vnvn</div>
            <a href="https://www.facebook.com/mangvientrieu" class="btn btn-outline-success"
                style="margin: 20px auto">Facebook</a>
        </div>
    </div>
    <hr>
    <div class="row container">
        <div style="margin: auto;border-style: solid;
                border-color: gray;"> <img src="/img/avatar/Thang.PNG" alt="" height="300" width="300"> </div>
        <div class="col" style="margin: 5% ;">
            <div class="p-3 border bg-light">Nguyễn Trọng Thắng</div>
            <div class="p-3 border bg-light">MSSV: 1712757</div>
            <div class="p-3 border bg-light">Email: 1712757@student.hcmus.edu.vnvn</div>
            <a href="https://www.facebook.com/profile.php?id=100023899602193" class="btn btn-outline-success"
                style="margin: 20px auto">Facebook</a>
        </div>
    </div>
    <hr>
    <div class="row container">
        <div style="margin: auto;border-style: solid;
                border-color: gray;"> <img src="/img/avatar/Thuong.PNG" alt="" height="300" width="300"> </div>
        <div class="col" style="margin: 5% ;">
            <div class="p-3 border bg-light">Lê Hận Thương Hoài</div>
            <div class="p-3 border bg-light">MSSV: 1712452</div>
            <div class="p-3 border bg-light">Email: 1712452@student.hcmus.edu.vnvn</div>
            <a href="https://www.facebook.com/belunzt" class="btn btn-outline-success"
                style="margin: 20px auto">Facebook</a>
        </div>
    </div>
    <hr>
    <div class="row container">
        <div style="margin: auto;border-style: solid;
                border-color: gray;"> <img src="/img/avatar/uyen.png" alt="" height="300" width="300"> </div>
        <div class="col" style="margin: 5% ;">
            <div class="p-3 border bg-light">Trần Thị Diễm Uyên</div>
            <div class="p-3 border bg-light">MSSV: 1712895</div>
            <div class="p-3 border bg-light">Email: 1712895@student.hcmus.edu.vnvn</div>
            <a href="https://www.facebook.com/profile.php?id=100007681662146" class="btn btn-outline-success"
                style="margin: 20px auto">Facebook</a>
        </div>
    </div>
</div>

<!-- ================ contact section end ================= -->
<!-- Contact Section Begin -->
<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_phone"></span>
                    <h4>Phone</h4>
                    <p>+84123456789</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_pin_alt"></span>
                    <h4>Address</h4>
                    <p>227 Nguyen Van Cu, Ward 4, District 5, Ho Chi Minh City</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_clock_alt"></span>
                    <h4>Open time</h4>
                    <p>8:00am to 8:00 pm</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_mail_alt"></span>
                    <h4>Email</h4>
                    <p>20a09@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->


<!-- Map Begin -->
<div class="map">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3919.6372152816684!2d106.6790081!3d10.7624176!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f1bfc262bf1%3A0x4e843897f2900135!2zMjI3IMSQxrDhu51uZyBOZ3V54buFbiBWxINuIEPhu6ssIFBoxrDhu51uZyA0LCBRdeG6rW4gNSwgSOG7kyBDaMOtIE1pbmg!5e0!3m2!1svi!2s!4v1592654537826!5m2!1svi!2s"
        width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
        tabindex="0"></iframe>
</div>
<!-- Map End -->