//
   Created by vinhnt on 6/16/2017.

extends layout

block content
    if code == "00"
        p(style="text-align: center")  Successful transaction
    else
        p(style="text-align: center; color: red") Transaction failed
    p(style="text-align: center")
        a.btn.btn-default(href='/cart') Về danh sách